ConfigArgParse==1.5.3
lpips==0.1.4
numpy==1.19.5
Pillow==8.4.0
plyfile==0.7.4
pytorch-lightning==1.4.9
pytorch-msssim==0.2.1
pytorch-ranger==0.1.1
scikit-image==0.19.2
scikit-learn==1.0.1
scikit-video==1.1.11
scipy==1.7.3
sympy==1.9
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4.1
torch==1.10.0
torch-optimizer==0.1.0
torch-stoi==0.1.2
torchaudio==0.10.0
torchelastic==0.2.0
torchmetrics==0.6.1
torchsummary==1.5.1
torchtext==0.11.0
torchvision==0.11.1
tqdm==4.64.0
